.search{
    width: 100%;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 65px;
    background-color: #fff;
    padding: 10px;
    left: 0px;
    
}.search>button{
    padding: 15px 37px;
    width: 10%;
}.search>.inp{
    width: 80%;
  }